# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /
ErrorDocument 404 /error/404/index.html
<FilesMatch "\.(html)$">
php_value auto_append_file none
</FilesMatch>
# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:yruMuZetyQ
allow from 137.132.250.12
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE yruMuZetyQ:IPALLOWID

