<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
	</system.web>
	<system.webServer>     
		<!--<modules >     
		  <remove name="UrlRoutingModule-4.0" />     
		  <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />     
		  <remove name="Session"/>     
		  <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition=""/>     
		</modules>-->
	  <modules runAllManagedModulesForAllRequests="true">
	  </modules>
        <directoryBrowse enabled="true" />    
	</system.webServer>
</configuration>